body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #374151, #111827);
    box-sizing: border-box;
}

nav ul {
    list-style: none;
}

#myblog a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: none;
    color: #FFFFFF;
}

header a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: none;
    color: #FFFFFF;
}

#search {
    background-color: rgb(31, 41, 55, 0.6);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    width: 224px;
    height: 40px;
    border-radius: 16px;
    border: solid #374151;
    padding: 9px 12px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0%;
    justify-content: center;
    color: #FFFFFF;
    width: 525px;
    height: 76px;
    margin: 99px 0px 111px 0px;
}

#img {
    width: 896px;
    height: 594px;
    margin: 0px 0px 69px 0px;
}

.article-intro {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #FFFFFF;
    width: 708px;
    height: 101px;
    margin: 0px 0px 185px 0px;
}

.article-body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #FFFFFF;
    width: 708px;
    height: 50px;
}

a {
    color: #FFFFFF;
}

footer {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #FFFFFF;
    margin: 100px 0px 77px 0px;
}

header{
    padding: 40px 0;
}

main{
    padding: 40px 0;
}

footer{
    padding: 30px 0;
}