*{
    box-sizing: border-box;
}

.card{
    width: 300px;
    padding: 20px;
    border: 2px solid #333;
    margin: 40px auto;
}

.card2{
    width: 300px;
    padding: 20px;
    border: 2px solid #333;
    margin: 40px auto;
}

.card3{
    width: 300px;
    padding: 20px;
    border: 2px solid #333;
    margin: 40px auto;
}