body {
    margin: 0;
    box-sizing: border-box;
}

nav ul {
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    padding: 0;
    margin: 0;
}

nav {
    padding: 33px 50px;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 60px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 1px;
    color: #050038;
    margin: 0 0 17px 0;
}

.heroText {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;

}

#heroButton {
    background-color: #4262FF;
    color: #FFFFFF;
}

#heroButton:hover {
    background-color: #122db6;
}

.link {
    color: #4262FF;
    text-decoration: underline;
}

.link:hover {
    color: #122db6;
}

.heroText {
    color: #050038
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.sectionText {
    color: #696688;
}

header a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #050038;
    text-decoration: none;
}

footer a {
    text-decoration: none;
}

#heroForm+p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #050038;
}

.sectionList {
    list-style: url('images/check.svg');
}